
    html {height: 100%;}
    body {margin: 0; height: 100%; color: #333333;}

nav.navbar.navbar{
    background-color: #63CC91!important;
    height: 70px
}

nav{
  color: #fff
}

.navbar{
	position: fixed;
  width:100%;
  z-index: 1;
  padding: 0;
}

.profile-section{
	padding:   107px;
	border-bottom:1px solid white;
}


    #footer {
      position: fixed;
      bottom: 0px;
      background: #63CC91;
      height: 70px;
      font-size: 2em;
      text-align: center;
      width: 100%;
      color: #fff;
    }
.footericon{
        margin-top: 10px;
}

.indhold{
  padding-top: 70px;
  padding-left: 0;
  background: #eee;
  padding-right: 0;
  padding-bottom: 0;
  position: relative;
}

.kupon{
    background: #fff;
  border-radius: 4px 4px 4px 4px;
margin: 8px;  
  border: 1px solid #333333;
  box-shadow: 0px -5px 38px -16px rgba(49,102,72,1);
}

.darken{
  position: fixed;
  size:fill;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.darken.active{
  opacity: 100;
    z-index: 2;
    transition: all 700ms ease-in-out;
}